#rootPane {
	-fx-border-color: #3c8dc2; /* blue */
	-fx-border-width: 40 0 40 0; /* only borders above and below */
	
	-fx-background-color: #f0f0f0; /* grey */
	-fx-background-image: url("img/Sjöfartsverket_logo.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.serviceButton {
	-fx-background-color: #39b54a; /* green */
	-fx-text-fill: white;
	-fx-background-radius: 7;
	-fx-background-insets: 0;
}

.serviceButton:hover {
	-fx-effect: innershadow(gaussian, rgba(255,255,255, 0.7), 20,0,0,0 );
}

.serviceButton:pressed {
	-fx-effect: innershadow(gaussian, rgba(0,0,0, 0.7), 20,0,0,0 );
}

.list-view {
	-fx-background-insets: 0; /* Remove border */
}

.list-view .list-cell{
	-fx-font: 16pt "Arial";
	-fx-background-color: white;	
}

.list-view .list-cell:selected {
	-fx-text-fill: #39b54a; /* green */
}

.transRect {
	-fx-background-color: white;
	
	/* Round corners */
	-fx-border-radius: 5;	
	-fx-background-radius: 5;
	
	-fx-effect: dropshadow(gaussian, rgba(0,0,0, 0.2), 20, 0.2, 1.0, 1.0);
}
